*{margin: 0;padding: 0; box-sizing: border-box;}

.page{width:100vw; height:100vh;display: flex;flex-direction: column; justify-content:center;align-items: center;}

.logo{
    background-image: url(../img/head.png);
    background-position: center;
    background-size: cover;
    width: 30vw;
    height: 30vw;
    margin-bottom: 10vw;
}
.text{border-radius:100px;width: 30vw;height: 30vw;animation: 10s linear 0s normal none infinite running rotate;}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}
.footer img{width: 5vw;height: 5vw;}
img[alt='telegram']{margin-right: 20px;}

@media screen and (max-width:470px) {
  .page{width:100vw; height:100vh;display: flex;flex-direction: column; justify-content:center;align-items: center;}

.logo{
    background-image: url(img/head.png);
    background-position: center;
    background-size: cover;
    width: 230px;
    height: 230px;
    margin-bottom: 15vw;
}
.text{border-radius:100px;width: 230px;height: 230px;animation: 10s linear 0s normal none infinite running rotate;}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}
.footer img{width: 10vw;height: 10vw;}
img[alt='telegram']{margin-right: 20px;}
}