*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.page{
    display: flex;
    width: 100vw;
    height:100vh;
    justify-content: space-around;
    align-items: center;
    padding:2.2rem 9.6rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: calc((100% - 4.4rem)/2);
    border: .2rem solid black;
}
.left{
    padding-top: 2.2rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}
.fyh-name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 12.8rem;
    border:.2rem solid black;
    margin-bottom: 5rem;;
}